.main{
  width:100%;
  clear:both;
  position:relative;
}

.main p{
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
}

.main-content{
  margin-left:200px;
  margin-right:33%;
}

.main-extra{
  right:0;
  width:33%;
  background-color:#ff8539;
}

.main-navigation{
  left:0;
  width:200px;
  background-color:#b9caff;
}

.main-extra,
.main-navigation{
  top:0;
  position:absolute;
}
