.site-menu{
  margin-left:196px;
  margin-right:25%;
}

.site-menu p{
  margin-bottom:10px;
}

.site-menu-wrapper{
  border-bottom-width:10px;
  border-bottom-color:#a0cef8;
  border-bottom-style:solid;
}

.site-menu-wrapper li{
  display:inline;  /* Menu links are horizontally aligned using display: inline. */
}

.site-menu-wrapper li a{
  padding-left:10px;  /* Display: block won't work in this example; instead we are using padding to make the whole tab a clickable link. */
  color:#5d5350;
  font-weight:bold;
  text-decoration:none;
}

.site-menu-wrapper li a span{
  padding-right:10px;
}

.site-menu-wrapper ul{
  margin-bottom:5px;  /* Just some margin to align the blue border below the menu. */
  text-align:center;  /* We are using text-align: center on ul to horizontally align our menu to the page. If you want the menu aligned left or right, just change text-align to either left or right. */
}

.site-menu-wrapper li a,
.site-menu-wrapper li a span{
  padding-bottom:6px;  /* Display: block won't work in this example; instead we are using padding to make the whole tab a clickable link. */
  padding-top:7px;  /* Display: block won't work in this example; instead we are using padding to make the whole tab a clickable link. */
}
